<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MaggieCardConnection" connectionString="Data Source= LAPTOP-1N0129MB\SQLEXPRESS; Integrated Security=true;Initial Catalog= maggieCard; uid=sa; Password=Br102030; " providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>